PORT=3000
NODE_ENV=development
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
AWS_ENDPOINT_URL_DYNAMODB=http://127.0.0.1:8000
ACCESS_TOKEN_SECRET=demo_access_secret_change_me
REFRESH_TOKEN_SECRET=demo_refresh_secret_change_me
DYNAMO_TABLE_PROFILE=CANDIProfile
